# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lenovo\Documents\!ProgramZone\Python\gracity_graph_autoencoders\gravity_graph_autoencoders-master\gravity_graph_autoencoders-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
